
body {
  margin: 0;
  font-family: Arial, sans-serif;

  /* DUNKIN STRIPES */
  background: repeating-linear-gradient(
    90deg,
    #ff6a00,
    #ff6a00 80px,
    #e11383,
    #e11383 160px
  );
}

header {
  background-color: #ff6a00;
  color: white;
  text-align: center;
  padding: 15px;
}

nav a {
  margin: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.profile-box {
  width: 70%;
  margin: 20px auto;
  padding: 15px;
  background: white;
  border-radius: 15px;
  text-align: center;
}

.profile-box img {
  max-width: 200px;
}

.row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.box {
  width: 250px;
  background: white;
  padding: 15px;
  border-radius: 10px;
}

/* FAVORITES */
.fav-list {
  list-style: none;
  padding: 0;
}

.fav-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.fav-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

/* LINKS */
.links {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px;
}

.links a {
  background: #e11383;
  color: white;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
}
